# Single ethereum wallet mnemonic (BIP39) to use for: Deployment of the contract (hardhat), interactions with the contract (rust)
MNEMONIC="test test test test test test test test test test test junk"